
Command_Pong/.vs/Command_Pong/v17/ipch/AutoPCH/7ddb7e98c2426598/SOURCE.ipch
Command_Pong/.vs/Command_Pong/FileContentIndex/3cf3cb2a-b8c5-42f4-9b8d-f9430c2a7d5f.vsidx
Command_Pong/.vs/Command_Pong/FileContentIndex/read.lock
Command_Pong/.vs/Command_Pong/v17/Browse.VC.db
Command_Pong/.vs/Command_Pong/v17/Browse.VC.db-shm
Command_Pong/.vs/Command_Pong/v17/Browse.VC.db-wal
Command_Pong/.vs/Command_Pong/v17/Browse.VC.opendb
