
.vs/Setup/FileContentIndex/243a61a3-bcb8-4b71-996c-d7416cffad4f.vsidx
.vs/Setup/FileContentIndex/3f65747c-8774-452f-9bcb-83ca9154da74.vsidx
.vs/Setup/FileContentIndex/46e96892-649a-4209-9c54-c1cab85c1767.vsidx
.vs/Setup/FileContentIndex/719b56f4-2ff2-49c4-b968-857d77ce9b4d.vsidx
.vs/Setup/FileContentIndex/86203e25-4e28-4d60-8c33-80e0a8e711cb.vsidx
.vs/Setup/FileContentIndex/96e7c5cb-d690-4ab8-aa43-5902706d3c3e.vsidx
.vs/Setup/v17/.suo
.vs/Setup/v17/Browse.VC.db
x64/Debug/Setup.exe
x64/Debug/Setup.ilk
x64/Debug/Setup.log
x64/Debug/Setup.pdb
x64/Debug/Setup.tlog/link.read.1.tlog
x64/Debug/Setup.tlog/link.write.1.tlog
.vs/Setup/FileContentIndex/243a61a3-bcb8-4b71-996c-d7416cffad4f.vsidx
